.App {
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 900px;
  margin: 0px auto;
}


.wrapper {
  display: flex;
  border: solid black 3px; 
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3px;
  border-radius: 4px;
}

.stats-wrapper {
  text-align: left;
}

.instructions {
  display: flexbox;
  flex-direction: row;
  
}

.waypoint-list {
  height: 400px;
  width: 240px;
  overflow-y: scroll;
}

.waypoint-item {
  text-align: left;
  margin-bottom: 10px;
  border: solid black 2px;
  border-radius: 4px;
  padding: 2px;
}


.leaflet-tooltip {
  padding: 2px 3px 2px 3px;
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.leaflet-tooltip-left {
  margin-left: none;
}

.leaflet-tooltip-left:before {
  right: unset;
  margin-right: unset;
  border-left-color: unset;
}
.leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
  top: unset;
  margin-top: unset;
  border:none;
}